{% extends 'main.html' %}


{% block content %}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><strong>Add New Assets</strong></h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'it-home' %}">Item Management</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Assets</li>
        </ol>
      </nav>

      <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    {% load crispy_forms_tags %}

    
    <div class="content-section">
      <h2>Password Reset Confirm</h2><hr>
      <p>Please enter your new password.</p>
      <form method="POST">
          {% csrf_token %}
          {{ update_password_form|crispy }}
          <button class="btn btn-outline-info" type="submit">Change Password</button>
      </form>
  </div>



    <!-- End page content -->
  </div>

{% endblock content %}