{% extends 'main.html' %}


{% block content %}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    {% load crispy_forms_tags %}

    <div class="container py-5">
        <h1>Update</h1>
        <form method="POST">
            {% csrf_token %}
            {{ update_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>



    <!-- End page content -->
  </div>

{% endblock content %}