{% extends 'main.html' %}


{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><strong>OTHER Hospital</strong></h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'manager-home' %}">Request Management</a></li>
          <li class="breadcrumb-item active" aria-current="page">OTHER Hospital</li>
        </ol>
      </nav>
      <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
  

    <!-- Asset List for Manager to request -->
    <div class="w3-container" style="margin-top:75px">
      <!-- Table for Asset List for Manager to request -->

      <table id="requestFromTable" class="ui celled table" style="width:100%">
        <thead>
          <th>ID</th>
          <th>Hospital Name</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Action</th>
        </thead>
        <tbody>
          {% for item in reqs %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.invHosp }}</td>
            <td>{{ item.invName}}</td>
            <td>{{ item.invQty}}</td>
            <td>
              {{item.invStatus}}
            </td>
            <td>
              <a href="{% url 'approve' item.id %}">Edit</a>
            </td>

            </tr>
          {% endfor %}
        </tbody>
  
  
      </table>
    </div>
  
  <!-- End page content -->
  </div>

{% endblock content %}